  body {
       font-family: Arial, sans-serif;
       background-color: #dfd8d8;
       color: #333;
       text-align: center;
   }

   header {
       background-color: #b9a7a7;
       padding: 20px;
       border-radius: 5px;
   }

   footer {
       margin-top: 20px;
       font-size: 0.8em;
   }
